<meta charset="UTF-8" />
<meta name="description" content="" />
<title><%= title %></title>
<link rel="shortcut icon" href="images/hacker.png" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
