<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <h2 class="my-5 text-center">Contact Page</h2>

    <%- include('../partials/footer.ejs') %>
</body>
</html>